.TenderLogo {
  margin-left: 500px;
}

.sitterLoginSuccess {
  text-align: center;
}

.loginBtn {
  background-color: #04AA6D;
  border-radius: 200px;
  font-weight: bolder;
  font-size: large;
  width: 150px;
  height: 100px;
  margin-left: 540px;
}

.signupBtn {
  background-color: #04AA6D;
  border-radius: 200px;
  font-size: large;
  font-weight: bolder;
  margin-left: 100px;
  width: 150px;
  height: 100px;
}

.parentBtn {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bolder;
  background-color: rosybrown;
  border-radius: 50%;
  margin-top: 200px;
  margin-left: 300px;
  height: 300px;
  width: 300px;
}

.sitterBtn {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bolder;
  background-color: rosybrown;
  border-radius: 50%;
  margin-left: 250px;
  height: 300px;
  width: 300px;
}