.TenderLogo {
  margin-left: 500px;
}

.loginBtn {
   background-color: #04AA6D;
  border-radius: 200px;
  font-weight: bolder;
  font-size: large;
  width: 150px;
  height: 100px;
  margin-left: 540px;
}

.signupBtn {
  background-color: #04AA6D;
  border-radius: 200px;
  font-size: large;
 font-weight: bolder;
  margin-left: 100px;
  width: 150px;
  height: 100px;
}